.tile {
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
}

.tileTexture {
   width: 32px;
   height: 32px;
   background-size: 100% 100%;
}

.tileSelected {
   width: 32px;
   height: 32px;
   background: rgba(255, 255, 255, 0.66);
}

.rotations0 {
   transform: rotate(0deg);
}

.rotations1 {
   transform: rotate(90deg);
}

.rotations2 {
   transform: rotate(180deg);
}

.rotations3 {
   transform: rotate(270deg);
}

.wall-southWestToNorthEast {
   width: 45px;
   border-bottom: 1px solid #00FF00;
   transform: rotate(-45deg);
   transform-origin: 0% 100%;
}

.wall-southEastToNorthWest {
   width: 45px;
   border-top: 1px solid #00FF00;
   transform: rotate(45deg);
   transform-origin: 0% 0%;
}

.tileType-solid {
   width: 32px;
   height: 32px;
   background: rgba(0,0,0,0.9)
}

.tileType-diagonalOpenSouthEast {
   width: 0px;
   height: 0px;
   border-top: 32px solid rgba(0, 0, 0, 0.9);
   border-right: 32px solid transparent;
}

.tileType-diagonalOpenSouthWest {
   width: 0px;
   height: 0px;
   border-top: 32px solid rgba(0, 0, 0, 0.9);
   border-left: 32px solid transparent;
}

.tileType-diagonalOpenNorthWest {
   width: 0px;
   height: 0px;
   border-bottom: 32px solid rgba(0, 0, 0, 0.9);
   border-left: 32px solid transparent;
}

.tileType-diagonalOpenNorthEast {
   width: 0px;
   height: 0px;
   border-bottom: 32px solid rgba(0, 0, 0, 0.9);
   border-right: 32px solid transparent;
}
