html, body, .rootContainer {
    height: 100%;
}

.rootContainer:before {
    content: '';
    height: 100%;
    float: left;
}

.heightTaker {
    position: relative;
    z-index: 1;
}

.heightTaker:after {
    content: '';
    clear: both;
    display: block;
}

.main {
    position: absolute;
    width: 100%;
    height: 100%;
}
